.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  padding: 0 15px;
}

@media (min-width: 769px) {
  .title {
    font-size: 32px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 48px;
    line-height: 0.85;
    margin-bottom: 60px;
  }
}
